---
layout: default
---

<div id="framework">
  <nav>
    <h2>Table of contents</h2>
    <ul>
      {% for section in page.sections %}
        <li>
          <a href="/framework#{{section.id}}">{{section.name}}</a>
            {% if section.subsections %}
            <ul>
              {% for subsection in section.subsections %}  
                <li>
                  <a href="/framework#{{subsection.id}}">{{subsection.name}}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  <article>
    {{ content }}
  </article>
</div>