---
layout: default
---

<div class="hero">
  <div class="content">
    <h1>Welcome to Accessible Instruments</h1>
    <h2>an online community for accessible music technology.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio pariatur voluptas rem placeat quisquam. Quod minima eveniet ab harum assumenda, nesciunt, eligendi, alias rerum necessitatibus recusandae expedita? Eveniet, ipsa pariatur.</p>
    <a href="/community" class="cta">Join the conversation</a>
  </div>
  <div class="graphic">
    <img src="http://placekitten.com/500/500" alt="">
  </div>
</div>